<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HSMiner</title>
  <link rel="stylesheet" href="style.css">
  <meta name="description" content="">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <meta name="theme-color" content="#fafafa">
</head>
<body>
  <div class="container">
    <form action="/action" method="POST">
      <div class="bar">
        <input type="radio" id="encrypt" name="function" value="encrypt" {{#encrypt}}checked{{/encrypt}} />
        <label for="encrypt">Encrypt</label>
        <input type="radio" id="decrypt" name="function" value="decrypt" {{#decrypt}}checked{{/decrypt}} />
        <label for="decrypt">Decrypt</label>
        <input type="text" name="label" value="{{label}}" required />
        <input type="submit" />
      </div>
      <textarea name="text">{{text}}</textarea>
    </form>
    <textarea class="result" readonly>{{result}}</textarea>
  </div>
</body>
</html>
