<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <meta name="description" content="">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <meta name="theme-color" content="#fafafa">
</head>
<body>
  <h1>{{manufacturer_id}}</h1>
  <ul>
  {{#slots}}
    <li>
      <p>{{description}}</p>
      {{#initialized}}
      <form action="/login" method="POST">
        <input type="hidden" name="id" value="{{id}}" />
        <input type="password" name="pin" required />
        <label>PIN</label>
        <input type="submit" />
      </form>
      {{/initialized}}
    </li>
  {{/slots}}
  {{#handle}}
  <p>{{handle}}</p>
  {{/handle}}
  </ul>
</body>
</html>
